/* <!-- footer styling  --> */

#footer {
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: #F7F8FA;    
    text-align: center;
}

/* <!-- background image --> */

.footer-image{
    margin-top: 10vh;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

/* <!-- footer title  --> */

#footer h2{
    width: 100%;
    bottom: 35%;
    position: absolute;
    color: white;
    font-size: 7vh;
    vertical-align: middle;
}

/* <!-- footer button / link  --> */

.button-5{
    color: #3f3f3f;
    position: absolute;
    border-radius: 25px;
    background-color: #FEC749;
    width: 12vw;
    height: 5vh;
    text-align: center;
    padding-top: 1.5vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    top: 70%;
    left: 44%;
}
.button-5:hover{
    border: 1px solid #3f3f3f;
}

/* <!-- visitors counter --> */

.third{
    width: 100%;
    position: absolute;
    color: white;
    bottom: 10%;
}

.third span{
    color: #FEC749;
}


