/* <!-- header styling --> */

#header {
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) , url(./images/cover.jpeg) no-repeat center center scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100vw;
    z-index: 2;
}

/* <!-- croatia logo --> */

.logo {
    width: 10%;
    padding-left: 2%;
}
.logo:hover {
    transform: scale(1.1);
}

/* <!-- navigation links + search bar --> */

#navbar {
    height: 3%;
    float: right;
    padding-right: 2.5%;
    margin-top: -5%;    
}
#navbar > a{
    color: white;
}
.link {
    padding-left: 2vw;
}
.link:hover {
    color: #FEC749;
}
.header-search-bar {
    margin-left: 2vw;
    height: 100%;
    border-radius: 15px;
    border: none;
    padding-left: 1vw;
    opacity: 0.5;
    vertical-align: middle;
    min-height: 2.5vh;
}
.search-icon {
    width: 1vw;
    vertical-align: middle;
    margin-left: -6%;
}

/* <!-- center title styling --> */

#title{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30%;    
}
#title h2:nth-child(1) {
    color: white;
    font-size: 4vw;
}
#title h2:nth-child(2) {
    color: red;
    font-size: 4vw;
}
#title p:nth-child(3) {
    color: #a3a3a3;
    font-size: 0.9vw;
}
.button {
    margin-left: 45%;
    margin-top: 4%;
    width: 10%;
    color: #3f3f3f;
    border-radius: 25px;
    background-color: #FEC749;
    padding: 0.5%;
    font-size: 0.8vw;
    vertical-align: middle;
}

/* <!-- city cards with button links --> */

#cities{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
    top: 75%;
}
.image{
    height: 50vh;
    width: 18vw;
    object-fit: cover;
    object-position: center;
}
.city-container{
    position: relative;
    height: 50vh;
    width: 18vw;
}
.city-container > p.city-title{
    position: absolute;
    color: white;
    background-color: rgba(63, 63, 63, 0.7);
    width: 100%;
    font-size: 1.8vw;
    padding: 2%;
    top: 44%;
}
.city-container > a.button-cities{
    position: absolute;
    width: 50%;
    height: 10%;
    padding-top: 1.5vh;
    left: 25%;
    top: 70%;
}
.button-cities{
    border-radius: 25px;
    background-color: #FEC749;
    /* width: 11vw;
    height: 5vh; */
    z-index: 1;
}
.button-cities:hover{
    border: 1px solid #3f3f3f;
}
.spread{
    margin: 0 1.3% 0 1.3%;
}


