@import "header.css";
@import "fonts.css";
@import "footer.css";
@import "main.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "dejavu sans", sans-serif;
}

.inline {
    display: inline-block;
}

a{
    text-decoration: none;
    color: #3f3f3f;
}


